.country-wrapper {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	min-width: 350px;
	max-width: 300px;
	width: 100%;
	color: #ffffff;
	background-color: black;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
}

.country-wrapper *,
.country-wrapper *:before,
.country-wrapper *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.55s ease;
	transition: all 0.55s ease;
}

.country-wrapper img {
	backface-visibility: hidden;
	vertical-align: top;
	opacity: 0.9;
	width: 100%;
	height: 350px;
	border-radius: 10px;
}

.country-wrapper .title {
	position: absolute;
	top: 58%;
	left: 25px;
	padding: 5px 10px 10px;
}

.country-wrapper .title:before,
.country-wrapper .title:after {
	height: 2px;
	width: 400px;
	position: absolute;
	content: '';
	background-color: #ffffff;
}

.country-wrapper .title:before {
	top: 0;
	left: 10px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.country-wrapper .title:after {
	bottom: 0;
	right: 10px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.country-wrapper .title div:before,
.country-wrapper .title div:after {
	width: 2px;
	height: 300px;
	position: absolute;
	content: '';
	background-color: #ffffff;
}

.country-wrapper .title div:before {
	top: 10px;
	right: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.country-wrapper .title div:after {
	bottom: 10px;
	left: 0;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.country-wrapper .country,
.country-wrapper .country-post {
	margin: 0;
	text-transform: uppercase;
}

.country-wrapper .country {
	font-weight: 400;
	display: block;
	font-size: 1.5em;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.country-wrapper .country-post {
	display: block;
	font-weight: 700;
	background-color: #ffffff;
	padding: 5px 10px;
	color: #000000;
	cursor: pointer;
}

.country-wrapper .description {
	position: absolute;
	bottom: 42%;
	left: 25px;
	text-align: left;
	opacity: 0;
	padding: 5px 60px 5px 10px;
	font-size: 0.8em;
	font-weight: 500;
	letter-spacing: 1.5px;
}

.country-wrapper .edit-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 15px 0 0;
	opacity: 0;
}

.country-wrapper .edit-wrapper .delete {
	margin-left: 6px;
}

.country-wrapper .description p {
	margin: 0;
}

.country-wrapper:hover img,
.country-wrapper.hover img {
	zoom: 1;
	filter: alpha(opacity=35);
	-webkit-opacity: 0.35;
	opacity: 0.35;
}

.country-wrapper:hover .title:before,
.country-wrapper.hover .title:before,
.country-wrapper:hover .title:after,
.country-wrapper.hover .title:after,
.country-wrapper:hover .title div:before,
.country-wrapper.hover .title div:before,
.country-wrapper:hover .title div:after,
.country-wrapper.hover .title div:after {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.country-wrapper:hover .title:before,
.country-wrapper.hover .title:before,
.country-wrapper:hover .title:after,
.country-wrapper.hover .title:after {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.country-wrapper:hover .description,
.country-wrapper:hover .edit-wrapper {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.profile-conuntry-wrapper {
	display: flex;
	justify-content: center;
}

.description .edit-wrapper {
	display: flex;
	justify-content: flex-end;
}

.description .edit-wrapper .edit {
	/*margin-right: 10px;*/
}

@media (min-width: 768px) and (max-width: 1024px) {
	.country-wrapper {
		min-width: 280px;
		max-width: 280px;
		width: 100%;
	}

	.country-wrapper img {
		width: 100%;
		height: 280px;
	}
}

@media (min-width: 320px) and (max-width: 360px) {
	.country-wrapper {
		min-width: 250px;
		max-width: 250px;
		width: 100%;
	}

	.country-wrapper img {
		width: 100%;
		height: 250px;
	}
}