<!-- jquery.js -->
<script src="/js/common/jquery.js"></script>
<!-- materialize.js -->
<script src="/js/common/materialize.js"></script>
<!-- sweetalert.js -->
<script src="/js/common/sweet-alert.js"></script>
<!-- country.js -->
<script src="/js/country/country.js"></script>
<!-- upload-image.js -->
<script src="/js/common/upload-image.js"></script>
<!-- country-api.js -->
<script src="/js/api/country-api.js"></script>
<!-- post-api.js -->
<script src="/js/api/post-api.js"></script>
<!-- bookmark-api.js -->
<script src="/js/api/bookmark-api.js"></script>
<!-- comment-api.js -->
<script src="/js/api/comment-api.js"></script>
<!-- user-api.js -->
<script src="/js/api/user-api.js"></script>
<!-- follow-api.js -->
<script src="/js/api/follow-api.js"></script>
<!-- card.js -->
<script src="/js/post/card.js"></script>
<!-- nav.js -->
<script src="/js/nav.js"></script>
<!-- material.js -->
<script src="/js/common/material.js"></script>
<!-- infinity-scroll.js -->
<script src="/js/common/infinity-scroll.js"></script>
<!-- paging.js -->
<script src="/js/common/paging.js"></script>
</body>
</html>