<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trippin</title>
        <!-- materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- materialize font -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Optimized for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Logo font (Lobster) -->
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <!-- navbar.css -->
        <link rel="stylesheet" href="/css/navbar.css">
        <!-- fonts.css -->
        <link rel="stylesheet" href="/css/util/fonts.css">
        <!-- card.css -->
        <link rel="stylesheet" href="/css/post/card.css">
        <!-- login.css -->
        <link rel="stylesheet" href="/css/login.css">
        <!-- user.css -->
        <link rel="stylesheet" href="/css/user.css">
        <!-- country.css -->
        <link rel="stylesheet" href="/css/country/country.css">
        <!-- create-country.css -->
        <link rel="stylesheet" href="/css/country/create-country.css">
        <!-- common.css -->
        <link rel="stylesheet" href="/css/util/common.css">
    </head>
    <body>
{{>layout/nav}}