<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trippin</title>
        <!-- materialize -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- materialize font -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Optimized for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Logo font (Lobster) -->
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <!-- navbar.css -->
        <link rel="stylesheet" href="/css/navbar.css">
        <!-- fonts.css -->
        <link rel="stylesheet" href="/css/common/fonts.css">
        <!-- index.css -->
        <link rel="stylesheet" href="/css/index.css">
        <!-- card.css -->
        <link rel="stylesheet" href="/css/post/card.css">
        <!-- login.css -->
        <link rel="stylesheet" href="/css/login.css">
        <!-- user.css -->
        <link rel="stylesheet" href="/css/user/user.css">
        <!-- update-user.css -->
        <link rel="stylesheet" href="/css/user/update-user.css">
        <!-- country.css -->
        <link rel="stylesheet" href="/css/country/country.css">
        <!-- upload-file.css -->
        <link rel="stylesheet" href="/css/common/upload-file.css">
        <!-- material-btn.css -->
        <link rel="stylesheet" href="/css/common/material-btn.css">
        <!-- animate.css -->
        <link rel="stylesheet" href="/css/common/animate.css">
    </head>
    <body>
{{>layout/nav}}