<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trippin</title>
        <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon/color-star-3-152-217610.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon/color-star-3-144-217610.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicon/color-star-3-120-217610.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon/color-star-3-114-217610.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon/color-star-3-72-217610.png">
        <link rel="apple-touch-icon-precomposed" href="/favicon/color-star-3-57-217610.png">
        <link rel="icon" href="/favicon/color-star-3-32-217610.png" sizes="32x32">
        <!-- Optimized for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- materialize -->
        <link rel="stylesheet" href="/css/common/materialize.css">
        <!-- materialize font -->
        <link rel="stylesheet" href="/css/common/font/materialize-font.css">
        <!-- Logo font (Lobster) -->
        <link rel="stylesheet" href="/css/common/font/lobster.css">
        <!-- Noto Sans KR -->
        <link rel="stylesheet" href="/css/common/font/noto-sans-KR.css">
        <!-- navbar.css -->
        <link rel="stylesheet" href="/css/navbar.css">
        <!-- fonts.css -->
        <link rel="stylesheet" href="/css/common/fonts.css">
        <!-- index.css -->
        <link rel="stylesheet" href="/css/index.css">
        <!-- card.css -->
        <link rel="stylesheet" href="/css/post/card.css">
        <!-- post-detail.css -->
        <link rel="stylesheet" href="/css/post/post-detail.css">
        <!-- login.css -->
        <link rel="stylesheet" href="/css/login.css">
        <!-- user.css -->
        <link rel="stylesheet" href="/css/user/user.css">
        <!-- follow.css -->
        <link rel="stylesheet" href="/css/user/follow.css">
        <!-- update-user.css -->
        <link rel="stylesheet" href="/css/user/update-user.css">
        <!-- country.css -->
        <link rel="stylesheet" href="/css/country/country.css">
        <!-- upload-file.css -->
        <link rel="stylesheet" href="/css/common/upload-file.css">
        <!-- material.css -->
        <link rel="stylesheet" href="/css/common/material.css">
        <!-- animate.css -->
        <link rel="stylesheet" href="/css/common/animate.css">
    </head>
    <body>
{{>layout/nav}}