<div class="navbar-fixed">
    <nav class="light-blue darken-1 z-depth-3">
        <div class="nav-wrapper container">
            <!-- Logo -->
            <a id="logo-container" href="/" class="brand-logo">Trippin</a>

            <form class="hide-on-med-and-down search-form">
                <div class="input-field">
                    <input autocomplete="off" name="search" id="search" type="search" class="white" required>
                    <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                    <i class="material-icons search-btn">arrow_forward</i>
                </div>
            </form>

            <!-- Links -->
            <ul class="right hide-on-med-and-down">
                {{#isLogin}}
                    <li><a href="/user/{{loginUser.id}}/follow" class="btn material-btn">팔로잉</a></li>
                    <li>
                        <a href="/user/{{loginUser.id}}" class="modal-trigger">
                            <i class="material-icons">person</i>
                        </a>
                    </li>
                    <li>
                        <a href="/logout" class="modal-trigger">
                            <i class="material-icons">power_settings_new</i>
                        </a>
                    </li>
                {{/isLogin}}
                {{^isLogin}}
                    <li><a href="#contact" class="btn modal-trigger material-btn">로그인</a></li>
                {{/isLogin}}
                <!-- Modal -->
                <div id="contact" class="form-structor modal">
                    <div class="signup modal-content">
                        <h2 class="form-title" id="signup">Sign up</h2>
                        <button class="submit-btn white-text blue"
                                onclick="location.href='/oauth2/authorization/google'">
                            GOOGLE
                        </button>
                        <button data-position="bottom" data-tooltip="준비중"
                                class="tooltipped naver submit-btn green-text white">NAVER
                        </button>
                    </div>
                </div>
            </ul>

            <!-- Side nav trigger (On Mobile) -->
            <a href="#" data-target="mobile-links" class="sidenav-trigger left"><i
                    class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<!-- Side nav (On Mobile) -->
<ul id="mobile-links" class="sidenav">
    {{#isLogin}}
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{{loginUser.picture}}">
                </div>
                <span><img class="circle" src="{{loginUser.picture}}"></span>
                <span><span class="white-text name">{{loginUser.name}}</span></span>
                <span><span class="white-text email">{{loginUser.email}}</span></span>
            </div>
        </li>
        <li><a class="waves-effect" href="/"><i class="material-icons">home</i>홈</a></li>
        <li><a class="waves-effect" href="/user/{{loginUser.id}}"><i class="material-icons">person</i>마이페이지</a></li>
        <li><a class="waves-effect" href="/user/{{loginUser.id}}/follow"><i class="material-icons">favorite</i>팔로잉</a>
        </li>
        <li><a class="waves-effect" href="/logout"><i class="material-icons">power_settings_new</i>로그아웃</a></li>
    {{/isLogin}}
    {{^isLogin}}
        <li><a class="subheader black-text" style="font-weight: bolder">로그인</a></li>
        <li><a class="google waves-effect" href="/oauth2/authorization/google">GOOGLE</a></li>
        <li><a class="naver waves-effect" href="#">NAVER (준비중)</a></li>
    {{/isLogin}}
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader black-text" style="font-weight: bolder">문의</a></li>
    <li><a class="waves-effect">nkh1602@naver.com</a></li>
</ul>
