<div class="navbar-fixed">
    <nav class="light-blue darken-1 z-depth-3">
        <div class="nav-wrapper container">
            <!-- Logo -->
            <a id="logo-container" href="/" class="brand-logo">Trippin</a>

            <form class="hide-on-med-and-down">
                <div class="input-field">
                    <input id="search" type="search" class="white" required>
                    <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>

            <!-- Links -->
            <ul class="right hide-on-med-and-down">
                {{#isLogin}}
                    <li><a href="/user/{{loginUser.id}}/follow" class="btn material-btn">팔로잉</a></li>
                    <li>
                        <a href="/user/{{loginUser.id}}" class="modal-trigger">
                            <i class="material-icons">person</i>
                        </a>
                    </li>
                    <li>
                        <a href="/logout" class="modal-trigger">
                            <i class="material-icons">power_settings_new</i>
                        </a>
                    </li>
                {{/isLogin}}
                {{^isLogin}}
                    <li><a href="#contact" class="btn modal-trigger material-btn">로그인</a></li>
                {{/isLogin}}
                <!-- Modal -->
                <div id="contact" class="form-structor modal">
                    <div class="signup modal-content">
                        <h2 class="form-title" id="signup">Sign up</h2>
                        <button class="submit-btn" onclick="location.href='/oauth2/authorization/google'">
                            GOOGLE
                        </button>
                        <button class="submit-btn">NAVER</button>
                    </div>
                </div>
            </ul>

            <!-- Side nav trigger (On Mobile) -->
            <a href="#" data-target="mobile-links" class="sidenav-trigger left"><i
                    class="material-icons">menu</i></a>
        </div>
    </nav>
</div>

<!-- Side nav (On Mobile) -->
<ul id="mobile-links" class="sidenav">
    {{#isLogin}}
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{{loginUser.picture}}">
                </div>
                <span><img class="circle" src="{{loginUser.picture}}"></span>
                <span><span class="white-text name">{{loginUser.name}}</span>
                <span><span class="white-text email">{{loginUser.email}}</span>
            </div>
        </li>
        <li><a class="waves-effect" href="/"><i class="material-icons">home</i>홈</a></li>
        <li><a class="waves-effect" href="/user/{{loginUser.id}}"><i class="material-icons">person</i>마이페이지</a></li>
        <li><a class="waves-effect" href="#"><i class="material-icons">favorite</i>팔로잉</a></li>
    {{/isLogin}}
    {{^isLogin}}
        <li><a class="waves-effect" href=""><i class="material-icons">forward</i>로그인</a></li>
        <li><a class="waves-effect" href=""><i class="material-icons">home</i>홈</a></li>
    {{/isLogin}}
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#">Third Link With Waves</a></li>
</ul>
