<nav>
    <div class="nav-wrapper container">
        <!-- Logo -->
        <a id="logo-container" href="/" class="brand-logo">Trippin</a>

        <form class="hide-on-med-and-down">
            <div class="input-field">
                <input id="search" type="search" class="white" required>
                <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>

        <!-- Links -->
        <ul class="right hide-on-med-and-down">
            <li><a class="btn">팔로잉</a></li>
            <li><a class="btn">로그인</a></li>
        </ul>

        <!-- Hamburger Menu List (On Mobile) -->
        <a href="#" data-target="mobile-links" class="sidenav-trigger left"><i
                class="material-icons">menu</i></a>
        <ul class="sidenav" id="mobile-links">
            <li><a class="btn" href="">로그인</a></li>
            <li><a class="btn" href="">팔로잉</a></li>
            <li><a href="../index?id=1">Home</a></li>
        </ul>
    </div>
</nav>