<div class="col s12 m6 l4">
    <div class="card">
        <div class="card-image">
            <img src="/img/france.jpg">
            <span class="card-title">나라 or 지역 이름</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
            <p class="author">Author</p>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
                require little markup to use effectively.</p>
            <div class="card-social">
                <i class="small material-icons favorite">favorite_border</i>
                <i class="small material-icons follow">person_add</i>
                <div class="favorite-count">좋아요 123개</div>
                <a href="/card-detail" class="comment-count">댓글 123개</a>
            </div>
        </div>
    </div>
</div>