{{>layout/header}}

<div class="form-structor">
    <div class="signup">
        <h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
        <button class="submit-btn">Sign up</button>
    </div>
</div>

{{>layout/footer}}
