<div class="profile-conuntry-wrapper col s12 m6 l4 ">
    <figure class="snip1477"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg"
                                  alt="sample35"/>
        <div class="title">
            <div>
                <p class="h2">Hans</p>
                <p class="h4">Down</p>
            </div>
        </div>
        <figcaption>
            <p>The only skills I have the patience to learn are those that have no real application in life. </p>
        </figcaption>
        <a href="#"></a>
    </figure>
</div>