{{>layout/header}}

<div class="content-profile-page">
    <div class="profile-user-page card">
        <div class="img-user-profile">
            <img class="avatar" src="http://gravatar.com/avatar/288ce55a011c709f4e17aef7e3c86c64?s=200" alt="jofpin"/>
        </div>
        <div class="user-profile-data">
            <h1>Jose Pino</h1>
            <div class="description-profile">Front-end | Security Researcher | CSS Warrior |
                <a href="https://twitter.com/bullgit" title="bullgit"><strong>@bullgit</strong></a>
                | I love to create small things for the internet!
            </div>
            <a href="#">
                <button>팔로우</button>
            </a>
            <a href="/post/upload">
                <button>나라등록</button>
            </a>

        </div>
        <ul class="data-user">
            <li><a href="#"><strong>3390</strong><span>게시물</span></a></li>
            <li><a href="#"><strong>718</strong><span>팔로워</span></a></li>
            <li><a href="#"><strong>239</strong><span>팔로잉</span></a></li>
        </ul>
    </div>
</div>

<div class="row container">
    {{>partial/profile-country}}
    {{>partial/profile-country}}
    {{>partial/profile-country}}
    {{>partial/profile-country}}
    {{>partial/profile-country}}
    {{>partial/profile-country}}
</div>


{{>layout/footer}}
