{{#country}}
    <div class="profile-conuntry-wrapper col s12 m6 l6 xl4">
        <div class="snip1477">
            <div class="countryId" hidden>{{id}}</div>
            <img src="/img/{{image}}" alt="/img/{{name}}"/>
            <div class="title">
                <div>
                    <p class="country">{{name}}</p>
                    <p class="country-post">작성</p>
                </div>
            </div>
            <div class="edit-wrapper">
                <span class="edit"><i class="material-icons">create</i></span>
                <span class="delete"><i class="material-icons">close</i></span>
            </div>
            <div class="description">
                <p>{{content}}</p>
            </div>
        </div>
    </div>
{{/country}}
