{{#country}}
    <div class="profile-conuntry-wrapper col s12 m6 l4 ">
        <div class="snip1477">
            <img src="/img/{{image}}" alt="/img/{{name}}"/>
            <div class="title">
                <div>
                    <p class="country">{{name}}</p>
                    <p class="country-post">작성</p>
                </div>
            </div>
            <div class="description">
                <p>{{content}}</p>
            </div>
        </div>
    </div>
{{/country}}
