body {
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: 0.5px;
}

.index-title, .follow-wrapper h2 {
	cursor: default;
	font-weight: bold;
}

.page-wrapper {
	display: flex;
	justify-content: center;
	margin: 60px 0;
}

.page-wrapper a {
	margin: 0 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.index-title, .follow-wrapper h2 {
		font-size: 30px;
		text-align: center;
	}
}