body {
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing: 0.5px;
}

.index-title {
	cursor: default;
}

.page-wrapper {
	display: flex;
	justify-content: center;
	margin: 60px 0;
}

.page-wrapper a {
	margin: 0 5px;
}
