.form-structor {
	background-color: #222;
	border-radius: 15px;
	height: 550px;
	width: 350px;
}

.form-structor::after {
	content: '';
	opacity: .5;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 500px;
	background-image: url("https://images.unsplash.com/photo-1532995092664-7027dcede29f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}

.form-structor .signup {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	width: 65%;
	z-index: 5;
	-webkit-transition: all .3s ease;
}

.form-structor .signup .form-title {
	color: #fff;
	font-size: 2em;
	text-align: center;
	margin-bottom: 70px;
	font-weight: 900;
}

.form-structor .signup .submit-btn {
	border: 0;
	border-radius: 13px;
	display: block;
	margin: 15px auto;
	padding: 15px 45px;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.form-structor .signup .naver {
	font-weight: 900;
}

.sidenav .google {
	background-color: #2196F3;
	color: white;
	font-weight: 900;
	letter-spacing: 1px;
}

.sidenav .naver {
	background-color: #4CAF50;
	color: white;
	font-weight: 900;
	letter-spacing: 1px;
}
