{{#country}}
    <div class="profile-conuntry-wrapper col s12 m6 l6 xl4">
        <div class="country-wrapper z-depth-5">
            <img id="{{id}}" src="/img/{{image}}" alt="/img/{{name}}"/>
            <div class="title">
                <div>
                    <p class="country">{{name}}</p>
                    {{#isLogin}}
                        {{#validUser}}
                            <p class="country-post" id="{{id}}">작성</p>
                        {{/validUser}}
                    {{/isLogin}}
                </div>
            </div>
            {{#isLogin}}
                {{#validUser}}
                    <div class="edit-wrapper">
                        <span class="edit" id="{{id}}"><i class="material-icons">create</i></span>
                        <span class="delete" id="{{id}}"><i class="material-icons">close</i></span>
                    </div>
                {{/validUser}}
            {{/isLogin}}
            <div class="description">
                <p>{{content}}</p>
            </div>
        </div>
    </div>
{{/country}}
