{{>layout/header}}

<!-- User Id -->
{{#loginUser}}
    <span class="user-id" style="display: none">{{loginUser.id}}</span>
{{/loginUser}}

<div class="file-upload">
    <div class="row">
        <form class="col s12" action="/api/country/{{country.id}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="put"/>
            {{#loginUser}}
                <input class="user-id hide" name="userId" value="{{loginUser.id}}">
            {{/loginUser}}
            <img class="file-upload-image" src="{{country.image}}" alt="{{country.image}}"/>
            <input name="image" class="file-upload-input" hidden type='file' onchange="readURL(this);"
                   accept="image/*"/>
            <button class="file-upload-btn indigo" type="button" onclick="$('.file-upload-input').trigger('click')">
                Update Image
            </button>
            <div class="row">
                <div class="input-field col s12">
                    <input required name="name" id="input_text" type="text" value="{{country.name}}"
                           class="{{country.id}}"
                           data-length="11"
                           maxlength="11">
                    <label for="input_text">나라를 입력하세요. (필수)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="content" id="update-country-description" type="text"
                           value="{{country.content}}">
                    <label for="update-country-description">나라의 한줄평을 입력하세요.</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light material-btn" type="submit">수정
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

{{>layout/footer}}

