.card-wrapper {
	margin-top: 35px;
}

.card-social {
	margin-top: 16px;
}

.card-social .favorite {
	margin-right: 8px;
}

.card-social .favorite-count {
	font-weight: bold;
	margin-bottom: 10px;
}

.card-content .author {
	font-weight: bold;
}

.card .edit-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 15px 0 0;
	opacity: 0;
	cursor: default;
}

.card * {
	transition: all 0.15s;
}

.card:hover .edit-wrapper {
	opacity: 1;
}

.card:hover .edit-wrapper .material-icons {
	color: white;
	cursor: pointer;
}

.card .edit-wrapper .delete {
	margin-left: 6px;
}

.card img {
	width: 100%;
	height: 330px;
}

.card .card-title {
	text-shadow: 0 -1px 0 #fff,
	0 2px 0 #2e2e2e,
	0 22px 30px rgba(0, 0, 0, 0.9);
}