{{>layout/header}}

<div class="container">
    <h1 class="index-title">{{country.name}}</h1>
    <div class="row card-wrapper">
        {{#post}}
            <div class="col s12 m6 l6 xl4">
                <div class="card">
                    <div class="card-image">
                        <img src="/img/{{image}}">
                        <span class="card-title">{{region}}</span>
                    </div>
                    {{#isLogin}}
                        <span class="user-id" style="display: none">{{loginUser.id}}</span>
                        {{^validBookmark}}
                            <a id="{{id}}" class="bookmark btn-floating halfway-fab waves-effect waves-light red">
                                <i class="material-icons">bookmark_border</i>
                            </a>
                        {{/validBookmark}}
                        {{#validBookmark}}
                            <a id="{{id}}" class="bookmark btn-floating halfway-fab waves-effect waves-light red">
                                <i class="material-icons">bookmark</i>
                            </a>
                        {{/validBookmark}}
                        {{#validUser}}
                            <div class="edit-wrapper">
                                <span class="edit" id="{{id}}"><i class="material-icons">create</i></span>
                                <span class="delete" id="{{id}}"><i class="material-icons">close</i></span>
                            </div>
                        {{/validUser}}
                    {{/isLogin}}
                    <div class="card-content">
                        <a href="/user/{{country.user.id}}" class="author black-text">{{country.user.name}}</a>
                        <p>{{content}}</p>
                        <div class="card-social">
                            {{^validFavorite}}
                                <i id="{{id}}" class="small material-icons favorite">favorite_border</i>
                            {{/validFavorite}}
                            {{#validFavorite}}
                                <i id="{{id}}" class="small material-icons favorite-remove red-text">favorite</i>
                            {{/validFavorite}}
                            <i class="small material-icons follow">person_add</i>
                            <div class="favorite-count">좋아요 <span>{{favorite}}</span>개</div>
                            <a href="/card-detail" class="comment-count">댓글 999개</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/post}}
    </div>
</div>

{{>layout/footer}}

