{{>layout/header}}

<h1>홈, 팔로잉, 나라or지역</h1>
<div class="row">
    {{>partial/card}}
    {{>partial/card}}
    {{>partial/card}}
    {{>partial/card}}
    {{>partial/card}}
    {{>partial/card}}
</div>



{{>layout/footer}}

