{{>layout/header}}

<div class="container">
    <div class="row card-wrapper">

        {{#post}}
            <div class="col s12 m6 l6 xl4">
                <div class="card">
                    <div class="card-image">
                        <img src="/img/{{image}}">
                        <span class="card-title">{{country.name}} · {{region}}</span>
                    </div>
                    {{#isLogin}}
                        <span class="user-id" style="display: none">{{loginUser.id}}</span>
                        <a id="{{id}}" class="bookmark btn-floating halfway-fab waves-effect waves-light red">
                            <i class="material-icons">add</i>
                        </a>
                    {{/isLogin}}
                    <div class="card-content">
                        <a href="/user/{{user.id}}" class="author black-text">{{country.user.name}}</a>
                        <p>{{content}}</p>
                        <div class="card-social">
                            <i class="small material-icons favorite">favorite_border</i>
                            <i class="small material-icons follow">person_add</i>
                            <div class="favorite-count">좋아요 {{favorite}}개</div>
                            <a href="/card-detail" class="comment-count">댓글 999개</a>
                        </div>
                    </div>
                </div>
            </div>
        {{/post}}
    </div>
</div>

{{>layout/footer}}

