{{>layout/header}}

<div class="container">
    <h1>홈, 팔로잉, 나라or지역</h1>
    <div class="row">
        {{>layout/card}}
        {{>layout/card}}
        {{>layout/card}}
        {{>layout/card}}
        {{>layout/card}}
        {{>layout/card}}
    </div>
</div>



{{>layout/footer}}

