{{>layout/header}}

<div class="detail-wrapper">
    <main role="main" class="main">
        <article class="crd-60 social">
            <figure>
                <a class="ribbon-buy popular anchor" href="#" title="Popular">
                    Hot
                </a>
                <img class="pic" src="https://source.unsplash.com/ZFQh_gS5TJc/800x600" alt="La Sagrada Familia">
            </figure>
            <div class="flex-content">
                <header class="header">
                    <p class="user-60 para">
                        <a class="button anchor" href="#" title="Follow">
                            Follow
                        </a>
                        <img class="pic avatar-32" src="http://jlantunez.com/imgs/avatar.jpg" alt="Avatar">
                        <strong>
                            <a title="Full Name anchor" href="#">
                                username
                            </a>
                        </strong>
                        <span>8 mins ago &middot; Barcelona</span>
                    </p>
                </header>
                <div class="content-wrapper">
                    Figure 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la Sagrada Família is
                    variously
                    sme.
                    Figure 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la Sagrada Família is
                    Figure 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la Sagrada Família is
                    variously
                    sme.
                    Figure 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la Sagrada Família is
                    Figure 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la Sagrada Família is
                    60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la Sagrada Família is
                    re 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la Sagrada Família is
                    60%. Content 40%. Excere 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la
                    Sagrada Família is
                    60%. Content 40%. Excere 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la
                    Sagrada Família is
                    60%. Content 40%. Excere 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la
                    Sagrada Família is
                    60%. Content 40%. Exceada Família is
                    60%. Content 40%. Excere 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la
                    Sagrada Família is
                    60%. Content 40%. Exceada Família is
                    60%. Content 40%. Excere 60%. Content 40%. Excerpt. 2-3 lines recommended. The style of la
                    Sagrada Família is
                    60%. Content 40%. Exce
                </div>
                <footer class="footer">
                    <p class="para icon-wrapper">
                        <i class="material-icons">favorite_border</i><span class="count">123</span>개
                        <i class="material-icons comment-icon">chat_bubble_outline</i><span class="count">123</span>개
                    </p>
                    <p class="para">
                        <input type="text" placeholder="댓글 달기...">
                    </p>
                </footer>
            </div>
        </article>
    </main>
</div>

{{>layout/footer}}
