{{>layout/header}}

{{#loginUser}}
    <span class="user-id hide">{{id}}</span>
{{/loginUser}}

{{#post}}
    <div class="detail-wrapper">
        <main role="main" class="main">
            <article class="crd-60 social">
                <figure>
                    {{#isLogin}}
                        {{^validBookmark}}
                            <a id="{{id}}"
                               class="bookmark hoverable btn-floating halfway-fab waves-effect waves-light red">
                                <i class="material-icons">bookmark_border</i>
                            </a>
                        {{/validBookmark}}
                        {{#validBookmark}}
                            <a id="{{id}}"
                               class="bookmark hoverable btn-floating halfway-fab waves-effect waves-light red">
                                <i class="material-icons">bookmark</i>
                            </a>
                        {{/validBookmark}}
                    {{/isLogin}}
                    {{^isLogin}}
                        <a class="hoverable btn-floating halfway-fab waves-effect waves-light red">
                            <i class="material-icons">bookmark_border</i>
                        </a>
                    {{/isLogin}}
                    <img class="pic post" src="/img/{{post.image}}" alt="{{post.country.name}}">
                </figure>
                <div class="flex-content z-depth-1">
                    <header class="header">
                        <p class="user-60 para">
                            {{#isLogin}}
                                {{^validUser}}
                                    {{^validFollow}}
                                        <a id="{{user.id}}" class="btn follow button anchor" href="#">팔로우</a>
                                    {{/validFollow}}
                                    {{#validFollow}}
                                        <a id="{{user.id}}" class="btn follow button anchor" href="#">언팔로우</a>
                                    {{/validFollow}}
                                {{/validUser}}
                            {{/isLogin}}
                            {{^isLogin}}
                                <a class="btn button anchor">팔로우</a>
                            {{/isLogin}}
                            <img class="pic avatar-32" src="{{post.user.picture}}" alt="Avatar">
                            <strong>
                                <a title="Full Name anchor" href="/user/{{post.user.id}}">{{post.user.name}}</a>
                            </strong>
                            <span>{{createdAt.date}} &middot; {{post.country.name}} &middot; {{post.region}}</span>
                        </p>
                    </header>
                    <div class="content-wrapper">
                        <p class="content">{{post.content}}</p>
                        {{#comments}}
                            <div>
                                <img class="pic avatar-32" src="{{author.picture}}" alt="Avatar">
                                <strong><a href="/user/{{author.id}}">{{author.name}}</a></strong>
                                &nbsp &middot; &nbsp
                                <span>{{createdAt.date}}</span>
                                <p>{{content}}</p>
                            </div>
                        {{/comments}}
                    </div>
                    <footer class="footer">
                        <p class="para icon-wrapper">
                            {{#isLogin}}
                                {{^validFavorite}}
                                    <i id="{{id}}" class="favorite material-icons">favorite_border</i>
                                    <span class="favorite-count">
                                        <span id="{{id}}" class="count">{{countFavorite}}</span>개
                                    </span>
                                {{/validFavorite}}
                                {{#validFavorite}}
                                    <i id="{{id}}" class="favorite material-icons red-text">favorite</i>
                                    <span class="favorite-count">
                                         <span id="{{id}}" class="count">{{countFavorite}}</span>개
                                    </span>
                                {{/validFavorite}}
                            {{/isLogin}}
                            {{^isLogin}}
                                <i class="material-icons disable-favorite">favorite_border</i>
                                <span class="count">{{countFavorite}}</span>개
                            {{/isLogin}}
                            <i class="material-icons comment-icon">chat_bubble_outline</i>
                            <span class="comment-count">000</span>개
                        </p>
                        <p class="para">
                            {{#isLogin}}
                                <input class="comment-content" type="text" placeholder="댓글 달기...">
                                <i class="material-icons right comment-btn indigo-text">
                                    <span id="{{id}}">send</span></i>
                            {{/isLogin}}
                            {{^isLogin}}
                                <input class="comment-content" type="text" placeholder="댓글 달기..." disabled>
                                <i class="material-icons right comment-btn indigo-text">
                                    <span id="{{id}}">send</span></i>
                            {{/isLogin}}
                        </p>
                    </footer>
                </div>
            </article>
        </main>
    </div>
{{/post}}

{{>layout/footer}}
