{{>layout/header}}

<span class="post-favorite" style="display: none">{{post.favorite}}</span>

<div class="file-upload">
    <div class="row">
        <form class="col s12">
            <img class="file-upload-image" src="/img/{{post.image}}" alt="{{post.image}}"/>
            <input class="file-upload-input" hidden type='file' onchange="readURL(this);" accept="image/*"/>
            <button class="file-upload-btn indigo" type="button" onclick="$('.file-upload-input').trigger('click')">
                Update Image
            </button>
            <div class="row">
                <div class="input-field col s12">
                    <input id="update-region" class="{{post.id}}" type="text" value="{{post.region}}"
                           required>
                    <label for="update-region">지역을 입력하세요.</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="update-content" type="text" value="{{post.content}}">
                    <label for="update-content">내용을 입력하세요.</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light update-post-button material-btn" type="submit">수정
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

{{>layout/footer}}

