{{>layout/header}}

<div class="row container follow-wrapper">
    <div class="follow-card col s12 m6 l4 xl2">
        <div class="our-team">
            <div class="picture">
                <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
            </div>
            <div class="team-content">
                <h5 class="name">Mary Huntley</h5>
            </div>
            <!--            <ul class="social">-->
            <!--                <li>-->
            <!--                    <a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a>-->
            <!--                </li>-->
            <!--                <li>-->
            <!--                    <a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a>-->
            <!--                </li>-->
            <!--                <li>-->
            <!--                    <a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus"-->
            <!--                       aria-hidden="true"></a>-->
            <!--                </li>-->
            <!--                <li>-->
            <!--                    <a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a>-->
            <!--                </li>-->
            <!--            </ul>-->
        </div>
    </div>
</div>

{{>layout/footer}}
