{{>layout/header}}

<div class="file-upload">
    <div class="row">
        <form class="col s12">
            <!-- TODO: 경로 수정 -->
            <div class="user-image">
                <img src="{{user.picture}}" alt="{{user.picture}}"/>
            </div>
            <input autocomplete="off" class="file-upload-input" hidden type='file' required onchange="readURL(this);"
                   accept="image/*"/>
            <div class="user-file-upload-btn">
                <button class="indigo" type="button" onclick="$('.file-upload-input').trigger('click')">
                    Update Image
                </button>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input data-length="10" maxlength="10" autocomplete="off" id="update-name" class="{{user.id}}"
                           type="text" value="{{user.name}}">
                    <label for="update-name">이름을 입력하세요.</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input data-length="30" maxlength="30" autocomplete="off" id="update-comment" type="text"
                           value="{{user.feel}}">
                    <label for="update-comment">상태메시지를 입력하세요.</label>
                </div>
            </div>
            <div class="user-update-btn-wrapper">
                <button class="btn waves-effect waves-light update-user-button material-btn" type="submit">수정
                    <i class="material-icons right">send</i>
                </button>
                <button class="btn waves-effect waves-light delete-user-button" type="submit">회원 탈퇴
                    <i class="material-icons right">delete</i>
                </button>
            </div>
        </form>
    </div>
</div>

{{>layout/footer}}

