{{>layout/header}}

<!-- User Id -->
{{#loginUser}}
    <span class="user-id hide">{{loginUser.id}}</span>
{{/loginUser}}
<div class="content-profile-page">
    <div class="profile-user-page card">
        <div class="img-user-profile">
            <img class="avatar" src="{{user.picture}}" alt="{{user.name}}"/>
        </div>
        <div class="user-profile-data">
            <h1>{{user.name}}</h1>
            <div class="description-profile">{{user.feel}}</div>
            {{#isLogin}}
                {{^validUser}}
                    {{^user.validFollow}}
                        <a id="{{user.id}}" class="btn follow" href="#">팔로우</a>
                    {{/user.validFollow}}
                    {{#user.validFollow}}
                        <a id="{{user.id}}" class="btn follow" href="#">언팔로우</a>
                    {{/user.validFollow}}
                {{/validUser}}
                {{#validUser}}
                    <div class="edit-profile-button">
                        <a href="/user/{{user.id}}/update">
                            프로필 수정
                        </a>
                    </div>
                    <a href="/country/create">
                        {{#isCountrySize}}
                            <button class="btn pulse waves-effect waves-light country-button material-btn"
                                    type="submit">
                                나라등록
                            </button>
                        {{/isCountrySize}}
                        {{^isCountrySize}}
                            <button class="btn waves-effect waves-light country-button material-btn" type="submit">
                                나라등록
                            </button>
                        {{/isCountrySize}}
                    </a>
                {{/validUser}}
            {{/isLogin}}
        </div>
        <ul class="data-user">
            <li><a href="/user/{{user.id}}/post"><strong>{{countPost}}</strong><span>게시물</span></a></li>
            <li><a href="/user/{{user.id}}/bookmark"><strong>{{countBookmark}}</strong><span>저장</span></a></li>
            <li>
                <a href="/user/{{user.id}}/follower">
                    <strong class="count-follower">{{countFollower}}</strong>
                    <span>팔로워</span>
                </a>
            </li>
            <li><a href="/user/{{user.id}}/following"><strong>{{countFollowing}}</strong><span>팔로잉</span></a></li>
        </ul>
    </div>
</div>

<div class="row container">
    {{>partial/country/country}}
</div>


{{>layout/footer}}
