{{>layout/header}}

<!-- User Id -->
<span class="user-id" style="display: none">{{user.id}}</span>

<div class="content-profile-page">
    <div class="profile-user-page card">
        <div class="img-user-profile">
            <img class="avatar" src="{{user.picture}}" alt="{{user.name}}"/>
        </div>
        <div class="user-profile-data">
            <h1>{{user.name}}</h1>
            {{#user.comment}}
                <div class="description-profile">{{user.comment}}</div>
            {{/user.comment}}
            {{#isLogin}}
                {{^validUser}}
                    <a href="#">
                        <button class="btn waves-effect waves-light country-button material-btn" type="submit">
                            팔로우
                        </button>
                    </a>
                {{/validUser}}
                {{#validUser}}
                    <div class="edit-profile-button">
                        <a href="/user/update/{{user.id}}">
                            프로필 수정
                        </a>
                    </div>
                    <a href="/country/create">
                        <button class="btn waves-effect waves-light country-button material-btn" type="submit">
                            나라등록
                        </button>
                    </a>
                {{/validUser}}
            {{/isLogin}}
        </div>
        <ul class="data-user">
            <li><a href="#"><strong>{{countPost}}</strong><span>게시물</span></a></li>
            <li><a href="#"><strong>000</strong><span>팔로워</span></a></li>
            <li><a href="#"><strong>000</strong><span>팔로잉</span></a></li>
        </ul>
    </div>
</div>

<div class="row container">
    {{>partial/country/country}}
</div>


{{>layout/footer}}
